button {
  display: inline-block;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  transition: border-radius 0.3s;

  &:hover {
    border-radius: 0.8rem;
  }

  &:active {
    opacity: 0.9;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  &.clear {
    background-color: transparent !important;
    color: $color-dark !important;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }
}
